/* General styles */
html {
  background: #d1e0e6;
  font-size: 16px;
}
body {
  background: #d1e0e6;
}

/* Audio Player Style */

#audioPlayerContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #c4dce6;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 5px 0;
  z-index: 9999;
}

#audioPlayerContainer:empty {
  display: none;
}
.audioImage1248 {
  margin-right: 10px;
  border-radius: 5px;
  height: 8vw;
  width: 16vw;
}
audio {
  width: 70vw;
}

audio::-webkit-media-controls-panel {
  background-color: #72a7d3;
}

.dropdown {
  cursor: pointer;
  font-size: 1.5rem;
  background-color: lightgray;
  padding: 30px 30px 10px 0;
  width: 100%;
}

.dropdown:hover {
  background-color: gray;
}

.removeClick1248 {
  pointer-events: none;
}

#podImg {
  display: flex;
  justify-content: center;
}

.podImage {
  width: 250px;
}

.centre1248 {
  display: flex;
  align-items: center;
}

.playBtn {
  cursor: pointer;
}

.margin1248 {
  margin-bottom: 7vw;
}

/* 

style from Adam's code

*/

/* Style the search field */
form.search-form input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search-form button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search-form button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.search-form::after {
  content: "";
  clear: both;
  display: table;
}

#my-map {
  width: 40vw;
  height: 40vw;
  margin: 0;
  z-index: 9;
}

.autocomplete-container {
  /*the container must be positioned relative:*/
  position: relative;
  margin-bottom: 10px;
  z-index: 99;
}

.autocomplete-container input {
  width: calc(100% - 43px);
  outline: none;

  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  padding-right: 31px;
  font-size: 16px;
  z-index: 99;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: calc(100% + 2px);
  left: 0;
  right: 0;

  background-color: #fff;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  z-index: 99;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.autocomplete-items .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.clear-button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 0;
  height: 100%;
  display: none;
  align-items: center;
}

.clear-button.visible {
  display: flex;
}

.clear-button:hover {
  color: rgba(0, 0, 0, 0.6);
}
#reset-button {
  font-size: large;
  font-weight: bolder;
  padding: 5px 15px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(186, 63, 29, 0.667);
}

/* Loading animation */

.groovyLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.groovyLoader div {
  border: 24px groove rebeccapurple;
  display: table-cell;
  border-radius: 50%;
  animation: spin 4s cubic-bezier(0.9, 0.6, 0.3, 1.5) infinite;
}

.loadingcontainer {
  background-color: #3e8ed0;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  from {
    transform: rotate3d(0, 0, 0, 60deg);
  }

  to {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}

@media screen and (max-width: 768px) {
  .playBtn {
    width: 150px;
  }
  .audioImage1248 {
    margin-right: 10px;
    border-radius: 5px;
    height: 20vw;
    width: 30vw;
  }

  #my-map {
    width: 70vw;
    height: 70vw;
  }
}
