.dropdown {
  cursor: pointer;
  font-size: 1.5rem;
  background-color: lightgray;
  padding: 0 30px 10px 0;
  width: 78vw;
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dropdown:hover {
  background-color: gray;
}
